.mainContainer {
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 90%;
}

.optionsContainer {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}

#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    background-color: white;
}