.App {
  text-align: center;

  a {
    text-decoration: none;
    color: white;
    cursor: pointer;
  }
  height: 100vh;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hoverFade:hover{
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}
